html, body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: 'Consolas';
	color: #999;
	font-size: .9em;
}

#status {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #292929;
	padding: 5px;
	z-index: 100;
}

#status > div {
	display: inline-block;
}

.module {
	display: none;
}

#clock-value, #cwa-value, #location-value, #mod-value, #new-value {
	color: #D3D3D3;
}

#net .ok {
	color: #33FF00;
}
#net .poor {
	color: #FFFF33;
}
#net .bad {
	background: #CC0000;
	color: #FFF;
	text-transform: uppercase;
}

.clock-ends, .cwa-ends, .location-ends, .net-ends, .mod-ends, .new-ends {
	color: #009898;
}

#menu {
	display: none;
	position: fixed;
	top: 15%;
	left: 50%;
	background: #000;
	z-index: 1;
	width: 400px;
	margin-left: -200px;
	border: 1px #999 solid;
	color: #D3D3D3;
	font-size: 1.4em;
	min-height: 200px;
	padding: 5px;
}

.ubtn {
	background: #292929;
	display: none;
	cursor: pointer;
	height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-grow: 1;
    min-width: 100px;
}

.usel {
	background: #009898
}

#uback, #uclose {
	background: #999;
	color: #000;
}

#ubox {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

#utitle {
	text-align: center;
}

#iem ol {
	list-style: none;
	margin: 0;
	position: absolute;
	bottom: 25px;
	padding: 5px;
}

#iem li.local, #iem li.important {
	color: #FFF;
}

#iem li.old {
	opacity: .6;
}

#iem a {
	color: #039B99;
}

#iem li > div {
	line-height: 19px;
}

#iem .message {
	cursor: pointer;
	text-indent: -5em;
  	padding-left: 5em;
}

#iem .ts-ends {
	color: #292929;
}

/* TODO standardize colors */
#iem li.TOR {
	background: red;
	color: #FFF;
}

#iem li.SPC {
	color: #FFF;
}

/* CoD Visible Satellite CSS */
#codsat canvas {
	display: none;
}

#codsat-box {
	position: relative;
}

#codsat-box img {
	position: absolute;
}

/* SPC Mesoanalysis */
#spcmeso-box {
	background: #FFF;
	width: 1000px;
	height: 750px;
}

#spcmeso-box > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000px;
	height: 750px;
}

#spcmeso-params {
	position: absolute;
	bottom: 30px;
	left: 6px;
	background: #000;
	color: #FFF;
	font-size: 1.4em;
}

#status #new {
	display: none;
}